textarea {
	width: 100%;
	height: 40vh;
	padding: 10px;
}
button {
	margin: auto;

}
#buttondiv {
	text-align: center;
	width: 30%;
	float: none;
	margin: auto;
	padding: 20px;
	display: flex;
	justify-content: center;
}
.middle {
	max-width: 700px;
	margin: auto;
	padding: 50px;
}